/* Made by --Nahean--
http://fb.com/AlNahean19 */


:root{
    --clr-fill: rgb(0, 0, 0);
    --clr-fillBig: rgb(238, 230, 230);
    --clr-Stroke: rgb(0, 0, 0);
    --clr-StrokeBig: rgb(238, 230, 230);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(189, 100, 18);
    color: rgb(235, 224, 194);
}

/* To center svg */
.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;    
}

/* THis includes Eid Mubarak styles */

/* Always use forward to keep the animation last frame forever */
#eid-mk{
    padding: 0rem 3rem 3rem 3rem;
    animation: to-fill 2s ease 7s 1 forwards;
}
.eid-mk{
    display: none;
    z-index: 10;
    height: 30vh;
}
.position{
    position: fixed;
    top: 2rem;
}
#eid-mk path{
   stroke:var(--clr-fill)
}


/* This is magic --:)-- */
#eid-mk path:nth-child(1){
    stroke-dasharray: 463.9681396484375;
stroke-dashoffset: 463.9681396484375;
animation: eid 5s ease 0.3s infinite alternate forwards;
/* animation-direction: alternate; */
}

#eid-mk path:nth-child(2){
    stroke-dasharray: 226.94400024414062;
stroke-dashoffset: 226.94400024414062;
animation: eid 5s ease 0.6s infinite alternate forwards;

}

#eid-mk path:nth-child(3){
    stroke-dasharray: 571.5774536132812;
stroke-dashoffset: 571.5774536132812;
animation: eid 5s ease 0.9s infinite alternate forwards;

}
#eid-mk path:nth-child(4){
    stroke-dasharray: 754.92724609375;
stroke-dashoffset: 754.92724609375;
animation: eid 5s ease 1.2s infinite alternate forwards;

}
#eid-mk path:nth-child(5){
    stroke-dasharray: 483.89263916015625;
stroke-dashoffset: 483.89263916015625;
animation: eid 5s ease 1.5s infinite alternate forwards;

}
#eid-mk path:nth-child(6){
    stroke-dasharray: 610.2323608398438;
stroke-dashoffset: 610.2323608398438;
animation: eid 5s ease 1.8s infinite alternate forwards;


}

#eid-mk path:nth-child(7){
    stroke-dasharray: 490.2921142578125;
stroke-dashoffset: 490.2921142578125;
animation: eid 5s ease 2.1s infinite alternate forwards;

}
#eid-mk path:nth-child(8){
    stroke-dasharray: 549.0670166015625;
stroke-dashoffset: 549.0670166015625;
animation: eid 5s ease 2.5s infinite alternate forwards;

}

#eid-mk path:nth-child(9){
    stroke-dasharray: 490.2921447753906;
stroke-dashoffset: 490.2921447753906;
animation: eid 5s ease 2.8s infinite alternate forwards;

}
#eid-mk path:nth-child(10){
stroke-dasharray: 512.352294921875;
stroke-dashoffset: 512.352294921875;
animation: eid 5s ease 3.0s infinite alternate forwards;
}




/* NEw Dynamic */


.cent{
    height: 50vh;
    width: 100vw;
    /* margin: 50vw ; */
        
}

.mosjid{
    width: 100vw;
    position: fixed;
    bottom: 0px;
    z-index: 3;
}
.moon{
    height: 20vh;
    margin: 45vh auto auto 20vw;
    opacity: 0.8;

    
}
.dummy{
    height: 100vh;
}
.star{
    position: fixed;
    opacity: 0;
    animation: starRotate 4s ease 0s infinite forwards;
}

.star1{
    position: fixed;
    height: 5vh;
    width: 5vh;
    top: 10vh;
    right: 20vw;
}
.star2{
    position: fixed;
    height: 3vh;
    width: 3vh;
    top: 4vh;
    left: 10vw;
}
.star3{
    position: fixed;
    height: 3vh;
    width: 3vh;
    top: 40vh;
    left: 4vw;
}
.star4{
    position: fixed;
    height: 3vh;
    width: 3vh;
    top: 25vh;
    left: 20vw;
}
.star5{
    position: fixed;
    height: 3vh;
    width: 3vh;
    top: 40vh;
    left: 90vw;
}
.star6{
    position: fixed;
    height: 3vh;
    width: 3vh;
    top: 14vh;
    left: 40vw;
}
.star7{
    position: fixed;
    height: 3vh;
    width: 3vh;
    top: 30vh;
    left: 80vw;
}


.star path{
    stroke-dasharray: 1770.1383056640625;
    stroke-dashoffset: 1770.1383056640625;
    animation: starStroke 2s ease 2.8s infinite alternate forwards;
}


.svg-trigger{
    height: 3vh;
    width: 100vw;
    z-index: 8;
    background-color: rgba(42, 40, 40, 0);
    opacity: 0.8;
}


@media (min-width: 510px){
    .mosjid{
        width: 100vw;
        position: fixed;
        bottom: 0px;
        z-index: 2;
    }
    .moon{
        margin-top: 42vh;
        opacity: 0.8;
        z-index: 1;
    }
    .center{
        padding: 0px;
    }
    .eid-mk{
        height: 40vh; 
    }
    .position{
        top: 1rem;
    }
    .center{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
            
    }   
}

/* Animations of eid mubarak*/
@keyframes eid {
    to{
        stroke-dashoffset: 0;
        stroke: var(--clr-Stroke);
    }
}

@keyframes to-fill {

    1%{
        fill: transparent;
    }
    99%{
        fill: var(--clr-fill);
    }
    100%{
        fill: var(--clr-fill);
        opacity: 0.8;
    }
}
@keyframes starRotate{
    from{
        stroke: red;
        transform: rotate(0deg);
    }
    to{
        stroke: red;
            transform: rotate(358deg) ;
        }
}


@keyframes starStroke{
    1%{
        stroke-dashoffset: 1770.1383056640625;
    }
    50%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

/* Animations of eid mubarak*/
@keyframes eid {
   to{
       stroke-dashoffset: 0;
       stroke: var(--clr-Stroke);
   }
}

@keyframes to-fill {

   1%{
       fill: transparent;
   }
   99%{
       fill: var(--clr-fill);
   }
   100%{
       fill: var(--clr-fill);
       opacity: 0.8;
   }
}    
.add{
    display: block;
}

























.to-center-firework{
  z-index: 11;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  visibility: hidden;
}


.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s; }
  
  @-webkit-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-moz-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-o-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-ms-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } 
}

/* .pop-control{
  display: none;
}
.pop-position{
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  z-index: 20;
  background-color: transparent;
  display: flex;
}
.pop-up{
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 5rem;
  z-index: 21;
  animation: popUp 3s ease 0s infinite forwards;
}
.my-pic{
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 5rem;
}
.hidePopUp{
  animation: none;
}
.fblink{
  background-color: rgba(0, 0, 0, 0.527);
  height: 6.5rem;
  width: 15rem;
  transform: translate(-3.25rem, 0rem);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: none;

}
.showFbLink{
  display: block;
}
.fb-c{
  height: 6.5rem;
  width: 15rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;

}
.my-fb{
  text-decoration: none;
  color: #0099ff;
}

@keyframes popUp {
  0%{
    transform: scale(0.7);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(0.7);
  }
} */