::-webkit-scrollbar{
    display: none;
}

*{
    padding: 0px;
    margin: 0px;
    color: white;
    border: 0px solid red;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.music-header{
    
    font-size: 1.5rem;
    height: 15vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-content: center;
}
.page-info{

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
}
.reset-music{
    justify-self: end;
}
.music-page-nav{
    position: sticky;
    top: 0px;
    height: 5vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    overflow: auto;
    background-color: black;
    
}
.fixed-music-page-nav{
    position: fixed;
    top: 0px;
}
.music-page-nav > div{
    height: 5vh;
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
    padding: 0px 10px 0px 10px;
}
.music-page-nav > div:hover{
    font-weight: bolder;
    border-bottom: 3px solid red;
    color: red;
}
.albumss{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.indevisual-album{
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 35vh;
}

.album-cover{
    background-color: red;
    border-radius: 4vw;
    background: url("Forget About You.jpg");
    height: 26vh;
}
.album-access{
    display: grid;
    grid-template-columns: 6fr 1fr;
}
.album-info{
    display: grid;
    grid-template-rows: 2fr 1.5fr;
}
.album-name{
    font-size: 1.5rem;
}
.artist-name{
    font-size: 1.2rem;
    color: grey;
}


/* Artist in music */

.indivisual-artists{

}
.artist-info{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: start;
    align-content: center;
    height: 10vh;
    grid-gap: 1vh;
}
.artist-info > div{
    align-self: center;
}
.artist-name-artist{
    font-size: 1.5rem;
}
.collection-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Track info in Music */
.track-info{
    display: grid;
    grid-template-columns: 1.7fr 5fr 1fr;
    align-content: center;
    height: 10vh;
    grid-gap: 1rem;
}
.track-cover{
    background: url("Forget About You.jpg");
    height: 10vh;
    background-size: contain;
    border-radius: 1rem;
}
.track-info > div{
    align-self: center;
}
.indivisual-track-info{
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.track-name{
    font-size: 1.5rem;
}
.track-artist{
    color: gray;

}

















.ex{
    height: 300vh;
}
.show{
    position: fixed;
    top: 10px;
    left: 0px;
    height: 30vh;
    width: 30vh;
    background-color: red;
    display: none;
    /* background: url("Forget About You.jpg"); */
    /* background: url("Forget About You.jpg"); */
}