::-webkit-scrollbar{
    display: none;
}
.custom-hidden{
    /* use this if none of the hide tecnics work */
    /* opacity: 0;
    display: none;
    visibility: hidden;
    /* background-color: green ;  */
    position: absolute;
    top: -1000vh;
    left: -100vw;
}


*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-color: black;
}
.now-playing-ul-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 12fr 4fr 2fr;
    /* display: none; */
    background-attachment: fixed;
    position: fixed;
    top: 0px;
}
.now-playing-ul-container > div:nth-child(odd){
    /* background-color: red; */
    /* align-content: center;
    justify-content: center; */
}
.now-playing-ul-header{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}
.now-playing-ul-header > div{
    justify-self: start;
    align-self: center;
}

.now-playing-ul--current-song-info{
    display: grid;
    grid-template-rows: 2fr 3fr;
    justify-content: center;
    align-content: center;
}
.now-playing-ul--current-song-info > div{
    justify-self: start;
    align-self: center;
    /* font-size: 1.4rem; */
    /* background-color: green; */
    font-weight: bolder;
}
.now-playing-ul--current-song-name{
    font-size: 1.4rem;
}
.now-playing-ul--artist-name{
    font-size: 1.2rem;
    color: gray;
}
.now-playing-ul-current-song-cover{
    background-size: contain;
}

.now-playing-ul-song-navigation{
    display: grid;
    grid-template-rows: 1fr 1fr;
    

}
.now-playing-ul-song-time{
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
    padding-right: 1rem;
    padding-left: 1rem;
}
.now-playing-ul-song-progress-bar-container{
    width: 100%;
    /* value: 22; */
    /* background-color: green; */
    /* width: 100vw; */

    display: flex;
    align-items: flex-start;
}
.now-playing-ul-song-progress-bar{
    align-self: start;
    width: 100%;
}
.now-playing-ul-song-start-end{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: space-between;
    /* padding-right: 1rem;
    padding-left: 1rem; */
}
.now-playing-ul-song-end-time{
    justify-self: end;
}
.now-playing-ul-song-control{
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    align-content: center;
}
.now-playing-ul-song-control > div{
    justify-self: center;
    align-self: center;
}
.now-playing-ul-song-control > div:nth-child(odd){
    background-color: gray;
}

.now-playing-ul-contribute-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}
.now-playing-ul-contributors{
    justify-self: end;
}


/* Lyric Edit Starts here */




/* --------Lyric Edit------------ */

.lyric-edit-container-display{
    position: fixed;
    bottom: 0px;
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    display: none;
}
.lyric-edit-container-back{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
    align-content: center;
    justify-content: center;
}
.lyric-edit-container-back-back{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.lyric-edit-container{
    background-color: black;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-content: center;
    justify-content: center;
}
.lyric-edit-container > div{
    align-self: center;
    /* justify-self: center; */
}
.lyric-edit-tools-container{

    /* justify-self: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}
.lyric-edit-tools-container > div{
    align-self: center;
    justify-self: center;
}



/* --------------Display Settings------------------- */

.display-settings-div--display{
    position: absolute;
    /* height: 140vh; */
    top: 0px;
    width: 100vw;
    /* background-color: black; */
    display: none;
    background: transparent;
}
.d-s-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    /* background-color: red; */
    background-attachment: fixed;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.8);

    /* background-color: rgba(0, 0, 0, 0); */
}
.d-s-container-back{
    height: 40vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
}
.d-s-container-main{
    background-color: black;
    width: 100vw;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /* padding-top: 2rem; */
}
.d-s-container-main > div{
    height: 10vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: rgb(206, 200, 200);
}
/* .d-s-container-main > div:hover{
    color: green;
    font-weight: bolder;
} */
.d-s-container-main > h1{
    height: 10vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 1rem;
    font-size: 1.7rem;

}



/* Current Queue */

.song-ul-current-queue-display{
    background-color: black;
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    display: none;
}
.s-ul-current-queue-container{
    width: 100%;
}
.c-q-header{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 10vh;
    align-content: center;
    justify-content: start;
    font-size: 1.4rem;
}
.c-q-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.c-q-indivisual-song{
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    width: 100%;
    align-content: center;
}
.c-q-indivisual-song > div{
    align-self: center;
}

.c-q-song-info{
    display: grid;
    grid-template-rows: 3fr 2fr;

}
.c-q-song-name{
    justify-self: start;
    align-self: center;
    font-size: 1.3rem;
    font-weight: bolder;
}
.c-q-artist-name{
    justify-self: start;
    align-self: center;
    font-size: 1.1rem;
    font-weight: bolder;
    color: gray;
}



                  /* Display Settings */
/* Lyeics Wor Or Sentence */
.d-s-lyrics-wos-display{
    display: none;
}
.d-s-lyrics-wos-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-right: 2rem;
    /* display: none; */
}
.wos-title{
    align-self: center;
}
.d-s-wos-action{
    justify-self: end;
    align-self: center;
}
.wos-toggle{
    background-color: green;
    height: 1rem;
    width: 2.3rem;
    display: grid;
    align-content: center;
    border-radius: 1rem;
}
.wos-toggle-circle{
    background-color: red;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 1rem;
    align-self: center;
    justify-self: end;
}
.wos-toggle-start{
    justify-self: start;
}

       /* D-S Text size*/

.d-s-lts-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}
.lts-size-change{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: center;
}
.lts-small{
    justify-self: center;
    align-self: center;
    font-size: 1rem;
}
.lts-medium{
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}
.lts-big{
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}


               /* d-s More */

.d-s-lyoff, .d-s-add-fav, .d-s-share-trigger, .d-s-gtart, .d-s-clyc, .d-s-esn-trigger, .d-s-set-timer, .d-s-equalizer, .equalizer-title{
    display: grid;
    grid-template-columns: 1fr 9fr;
    width: 100%;
    grid-gap: 1rem;
}
.d-s-lyoff > div, .d-s-add-fav > div, .d-s-share-trigger > div, .d-s-gtart > div, .d-s-clyc > div, .d-s-esn-trigger > div, .d-s-set-timer > div, .d-s-equalizer > div, .equalizer-title > div{
    justify-self: end;
    /* background-color: blue; */
} 



/* Party Mode */
.d-s-party-mode{
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.party-mode-title{
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 1rem;
    /* margin: 1rem; */
    margin: 1rem 1rem 1rem 0rem;
}
/* Party Mode ends here */


/* Edit Song Info */
.esn-display{
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: black;
    display: none;
}
.esn-container{
    height: 100%;
    width: 100%;
}


.esn-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    align-content: center;
    padding: 1rem;
}
.esn-confirm{
    justify-self: end;
}

.esn-track-info-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 20vh;
    align-content: center;
    padding-left: 1rem;
}
.esn-track-cover{
    justify-self: center;
    align-self: center;
    background: url("Forget About You.jpg");
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    background-size: cover;
}

.esn-song-info-container{
    padding-left: 1rem;
    justify-self: start;
    align-self: center;  
}
.esn-song-name{
    font-size: 1.7rem;
    font-weight: bolder;
}
.esn-song-artist-name{
    font-size: 1rem;
    color: gray;
    font-weight: bolder;
}
.esn-fetch-song-info{
    background-color: rgb(151, 251, 0);
    height: 10vh;
    /* width: 100%; */
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}
/* ESN form */
form{
    margin: 1rem;
    background-color: black;
}

input{
    height: 5vh;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.3rem;
    margin-bottom: 5vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    width: 100%;
    font-weight: bolder;
    background-color: black;
}
input:focus{
    border: 0px solid rgba(0, 0, 0, 0.376);
    border-bottom: 2px solid red;
}
label{
    color: gray;
    font-size: 1.2rem;
    background-color: black;
}
.form-middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}